{% extends 'base.html.twig' %}

{% block title %}New SitProcesal{% endblock %}

{% block body %}
    <h1>Create new SitProcesal</h1>

    {{ include('sit_procesal/_form.html.twig') }}

    <a href="{{ path('sit_procesal_index') }}">back to list</a>
{% endblock %}
