{% extends 'base.html.twig' %}

{% block title %}New TipoPerArma{% endblock %}

{% block body %}
    <h1>Create new TipoPerArma</h1>

    {{ include('tipo_per_arma/_form.html.twig') }}

    <a href="{{ path('tipo_per_arma_index') }}">back to list</a>
{% endblock %}
