<form method="post" action="{{ path('situacion_laboral_delete', {'id': situacion_laboral.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ situacion_laboral.id) }}">
    <button class="btn">Delete</button>
</form>
