{% extends 'base.html.twig' %}

{% block title %}New SituacionLaboral{% endblock %}

{% block body %}
    <h1>Create new SituacionLaboral</h1>

    {{ include('situacion_laboral/_form.html.twig') }}

    <a href="{{ path('situacion_laboral_index') }}">back to list</a>
{% endblock %}
