
.footerCentro {
position: fixed;
left: 0;
bottom: 0;
width: 100%;
background-color: #c5cad1;
color: gray;
text-align: center;
}

.destacado {
    margin: 15px 0 10px;
    color:#33494a;
    
}

td{
    white-space: nowrap;
}

/* acerca de victima e imputado */
.victima{
    background-color: #a6a29a;
    color: white;
    text-align: center;
}
/**        .caja { 
*            font-family: sans-serif
; 
*            font-size: 18px; 
*            font-weight: 400; 
*            color: #ffffff; 
*            background:#ee0467; 
*            margin-top: 5px;
*            margin-bottom: 10px;
*        }
