{% extends 'base.html.twig' %}

{% block title %}New TipoFemicidio{% endblock %}

{% block body %}
    <h1>Create new TipoFemicidio</h1>

    {{ include('tipo_femicidio/_form.html.twig') }}

    <a href="{{ path('tipo_femicidio_index') }}">back to list</a>
{% endblock %}
