{% extends 'base.html.twig' %}

{% block title %}Editar Victima{% endblock %}

{% block body %}
    <h1>Editar Victima</h1>

    {{ include('victima/_form.html.twig', {'button_label': 'Actualizar'}) }}
<div style="padding: 10px 0px 30px;">
    <a href="{{ path('victima_index') }}" class="btn btn-primary stretched-link">Volver</a>
</div>

  {#  {{ include('victima/_delete_form.html.twig') }} #}
{% endblock %}
