{% extends 'base.html.twig' %}

{% block title %}New Victima{% endblock %}

{% block body %}{{ parent() }}
    <h1>Create new Victima</h1>

    {{ include('victima/_form.html.twig') }}

    <a href="{{ path('victima_index') }}">back to list</a>
{% endblock %}
  {% block footer %}

  {% endblock %}


{% block javascripts %} {{ parent() }}
<script type="text/javascript" src="js/jquery.min.js"></script>
<script>

  $(document).ready(function(){
    $('#victima_tipoDocumento > option[value="1"]').attr('selected', 'selected');
    });

  $(document).ready(function(){
    $('#victima_nacionalidad > option[value="1"]').attr('selected', 'selected');
    });

  $(document).ready(function(){
    $('#victima_sexo > option[value="1"]').attr('selected', 'selected');
    });

  $(document).ready(function(){
    $('#victima_genero > option[value="8"]').attr('selected', 'selected');
    });

  $(document).ready(function(){
    $('#victima_estado_civil > option[value="7"]').attr('selected', 'selected');
    });

  $(document).ready(function(){
    $('#victima_sit_laboral > option[value="12"]').attr('selected', 'selected');
    });
  
  $(document).ready(function(){
    $('#victima_cond_actividad > option[value="5"]').attr('selected', 'selected');
    });

  $(document).ready(function(){
    $('#victima_niv_inst > option[value="4"]').attr('selected', 'selected');
    });
  
  $(document).ready(function(){
    $('#victima_niv_inst_form > option[value="14"]').attr('selected', 'selected');
    });

  $(document).ready(function(){
    $('#victima_niv_inst_form > option[value="14"]').attr('selected', 'selected');
    });

  $(document).ready(function(){
    $('#victima_tipo_femicidio > option[value="4"]').attr('selected', 'selected');
    });

  $(document).ready(function(){
    $('#victima_cont_femicida > option[value="6"]').attr('selected', 'selected');
    });

  $(document).ready(function(){
    $('#victima_fuer_seg_pert > option[value="10"]').attr('selected', 'selected');
    });

  $(document).ready(function(){
    $('#victima_est_pol > option[value="4"]').attr('selected', 'selected');
    });
  
  $(document).ready(function(){
    $('#victima_ejer_funcion > option[value="3"]').attr('selected', 'selected');
    });

  $(document).ready(function(){
    $('#victima_tipo_est_intox > option[value="7"]').attr('selected', 'selected');
    });
  
  
  
</script>


{% endblock %}