{% extends 'base.html.twig' %}

{% block title %}New Victima{% endblock %}

{% block body %}{{ parent() }}
    <h1>Create new Victima</h1>

    {{ include('victima/_form.html.twig') }}

    <a href="{{ path('victima_index') }}">back to list</a>
{% endblock %}
  {% block footer %}

  {% endblock %}


{% block javascripts %} {{ parent() }}
<script type="text/javascript" src="js/jquery.min.js"></script>
<script>

  $(document).ready(function(){
    $('#victima_tipoDocumento > option[value="1"]').attr('selected', 'selected');
    });

     $(document).ready(function(){
    $('#victima_nacionalidad > option[value="1"]').attr('selected', 'selected');
    });






</script>


{% endblock %}