{% extends 'base.html.twig' %}

{% block title %}New MecanismoMuerte{% endblock %}

{% block body %}
    <h1>Create new MecanismoMuerte</h1>

    {{ include('mecanismo_muerte/_form.html.twig') }}

    <a href="{{ path('mecanismo_muerte_index') }}">back to list</a>
{% endblock %}
