{% extends 'base.html.twig' %}

{% block title %}Agregar un detalle{% endblock %}

{% block body %}
<div class="container">
    <h1>Agregar un detalle para el hecho</h1>

    {{ include('detalle_hecho/_form.html.twig') }}
</div>

    <a href="{{ path('detalle_hecho_index') }}">back to list</a>
{% endblock %}

{% block javascripts %} {{ parent() }}
<script type="text/javascript" src="js/jquery.min.js"></script>
<script>

  

  
  
</script>


{% endblock %}