{% extends 'base.html.twig' %}

{% block title %}New NivelInstruccion{% endblock %}

{% block body %}
    <h1>Create new NivelInstruccion</h1>

    {{ include('nivel_instruccion/_form.html.twig') }}

    <a href="{{ path('nivel_instruccion_index') }}">back to list</a>
{% endblock %}
